.contentbody{
	margin-top: 130px;
}

.titleWWFI{
	font-size: 12px;
	font-weight: 500px;
}

.label-pallet{
	text-transform:none;
	font-size: 12px;
	font-family: 'Arial';
	text-align: right;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

.btn-pallet{
	border-radius: 0 20px 0 20px;
	height: 45px;
	width: 100px;
	text-align: left;
	margin-bottom: 10px;
	cursor: pointer;
}

.btn-pallet.wide-pallet{
	width: 200px;
	height: 60px;
}

.btn-pallet.sm-pallet{
	border-radius: 0 5px 0 5px;
	width: 50px;
	height: 25px;
	margin-bottom: 0px;
}

.row.mod-pallet{
	position:relative;
	overflow:hidden;
}

.row.mod-pallet .col-sm-1{
	margin-left: 20px;
	margin-top: 2px;
}

.list-pallet{
	position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
}

.list-pallet div{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}
.btn-pallet-putih{
	background-color: #f1f1f1;
}
.btn-pallet-kuning{
	background-color: #FFC851;
}
.btn-pallet-hijau{
	background-color: #9dd588;
}
.btn-pallet-netral-hangat{
	background-color: #f3da70;
}
.btn-pallet-netral-sejuk{
	background-color: #e1dcd1;
}
.btn-pallet-tosca{
	background-color: #29abe1;
}

.btn-pallet-merah{
	background-color: #f1ccd3;
}
.btn-pallet-biru{
	background-color: #94d1e6;
}

.btn-pallet-orange{
	background-color: #ed9c46;
}
.btn-pallet-ungu{
	background-color: #c2b8d9;
}

.btn-pallet-putih-ex{
	background-color: #f1f1f1;
}
.btn-pallet-kuning-ex{
	background-color: #f3de66;
}
.btn-pallet-netral-hangat-ex{
	background-color: #f3de66;
}
.btn-pallet-hijau-ex{
	background-color: #9dd588;
}
.btn-pallet-netral-sejuk-ex{
	background-color: #e1dcd1;
}
.btn-pallet-tosca-ex{
	background-color: #29abe1;
}
.btn-pallet-merah-ex{
	background-color: #f1ccd2;
}
.btn-pallet-biru-ex{
	background-color: #95d0e4;
}
.btn-pallet-orange-ex{
	background-color: #ed9c46;
}
.btn-pallet-ungu-ex{
	background-color: #c2b8d9;
}

.caption{
	font-size: 24px; background-color: rgba(255,255, 255, 0.8); padding:10px 10px;  border: 1px solid transparent;
	margin-bottom: 300px;
	margin-left: -100px;
	max-width: 500px;
	height: auto;
	
	text-align: left;
	border-radius: 0 20px 0 20px;
}

.caption a{
	color: #3b3b3b;
	font-style: none;
	text-shadow: none;
}

.caption a:hover{
	color: #a9cd69;
	text-decoration: none;
}
.scndline{
	background-color: #a9cd69;
}

.slider{
	margin-top: 80px;
	padding: 0;
}

.rightside{
	margin-left: -20px;
	padding-right: 8px;
}

.widget{
	padding-right: 0px;
 	padding-left: 0px;
}
.col-md-offset-1-5{
	margin-left: 9%;
}
.banner, .newsletter, .login{
	display: block;
	height: 220px;
	max-width: 100%;
	margin: 25px auto;
	padding-top: 5px;
}

.banner{
	background-color: #dfdfdf;
}

.newsletter{
	background-color: #f16764;
}

.login{
	background-color: #81c361;
}
.news{
	height: 400px;
	width: 355px;
	margin:25px 10px;
}
.title{
	font-size: 18px;
}
.title2{
	margin-top: 0px;
	margin-bottom: 3px;
	font-size: 16px;
}
.title2 a{
	color:#333;
}

.title2 a:hover{
}
.meta{
	overflow: hidden;
	display: block;
	padding-bottom: 5px;
}
.meta .date, .meta .comment, .meta .views{
	font-size: 12px;
	opacity: 0.5;
}
.content{
	font-size: 16px;
}
.content a{
	color: black;
}
.zero{
	margin: 0;
	padding: 0;
}
.panelEvent, .panelSide {
  margin-bottom: 0px;
  background-color: #ef504a;
  border: 1px solid transparent;
  border-radius: 0px;
}

.panelSide{
	background-color: #1c74bb;
}

.panelEvent > h1{
  color: #fff;
  font-size: 16px;
}

.panelSide{
	background-color: #f1c143;
	padding: 20px 5px;
}

.line{
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: #ef504a;
	border-radius: 0px;
	margin-top: -2px;
}

.lineB{
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: #1c74bb;
	border-radius: 0px;
	margin-top: -2px;
}

.panelFooter {
	z-index: 10;
  margin-top: 20px;
  background-color: #aacd69;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 100px;
}

.panelFooter .cpy{
	margin-top: 40px;
}

.cumbread{
	font-size: 10px;
}

.cumbread a,
.cumbread span{
	color: #2b2b2b;
	opacity: 0.5;
}

.cumbread a:hover{
	color:#aacd69;
	opacity: 1;
}


.img-left{
	display: inline-block;
	max-height: 450px;
    overflow:hidden;
    position: center center;
    padding: 0px;
}
.img-left img{
	vertical-align: middle;
   	min-width: 800px;
   	height: auto;
/*   min-height: 450px;*/
   max-height:450px;   
}

.img-right{
	max-height:230px;
    overflow:hidden;
    position: center center;
    padding: 0px;
}
.img-right img{
   width:100%;
   min-height:100px;   
}
.img-right-col{
	max-height:450px;
    overflow:hidden;
    position: center center;
    padding: 0px 0px 0px 10px;
}

.img-sm{
	max-height:75px;
    overflow:hidden;
    position: center center;
    padding: 0px;	
}

.img-sm img{
	width:100%;
   min-height:100px;
}

.img-body{
	max-height:265px;
    overflow:hidden;
    position: center center;
    padding: 0px;
}

.img-body img{
   width:100%;
   min-height:265px; 
}

.body-col{
	max-height:448px;
    overflow:hidden;
    position: center center;
    margin-bottom: 10px;
}

.popular{
	max-height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
}
.arbody{
	background-color:#c4df9c; 
}
.featured{
  font-size: 18px;
  text-transform:none;
  position: absolute;
  bottom: -10px;
  left: 0%;
  z-index: 10;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.featured.big{
	font-size: 32px;
}

#green{
	background: rgba(129,195,96,.9);
}

#pink{
	background: rgba(202,57,89,.9);
}

#blue{
	background-color: rgba(28,116,187,.9);
}

.wrapper-switch { 
        background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999; 
        margin: auto; 
        text-align: center; 
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 20px !important;
        width: 200px;
        padding-top: 5px;
    }

.scrolls-switch { 
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
white-space:nowrap
} 

.switchCol{
	float: right;
}

.switchCol li{
	display: inline-block;
	list-style: none;
}
.btn-switch{
	height: 20px;
	width: 20px;
	cursor: pointer;
}

#redS{
	background-color: #d44464;
}
#blueS{
	background-color: #2881c8;
}
#greenS{
	background-color: #aacc69;
}
#yellowS{
	background-color: #fece52;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 110%;
  height: auto;
  margin-left: -25px;
	
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

.wwficap{
	background-color:rgba(255,255,255,0.5); 
	position:absolute; 
	z-index:10;
	padding: 0px;
	height: 1060px;
}

.wwfipan{
	margin-top: 10px;
	border-radius: 0 60px 0 60px;
	height: auto;
	width: 210px;
	text-align: left;
	margin-bottom: 10px;
	text-align: right;
	padding: 100px 20px 40px 10px;
	border: 1px solid transparent;
	border-color: #4e54ac;

}

.wwfispec{
	margin-top: 10px;
	border-radius: 0 20px 0 20px;
	height: auto;
	width: 210px;
	text-align: left;
	margin-bottom: 10px;
	text-align: right;
	padding: 100px 20px 10px 10px;
}



.wwfispecnd{
	margin-top: 0px;
	border-radius: 0 10px 0 10px;
	height: auto;
	width: 100px;
	text-align: left;
	margin-bottom: 10px;
	text-align: right;
	padding: 20px 10px 5px 5px;
}

.wwfispec p{
		font-size: 11px;
		padding: 0px;
		margin: 0px;
		opacity: 0.8;
}

.wwfispecnd p{
		font-size: 11px;
		padding: 0px;
		margin: 0px;
		opacity: 0.8;
}

.wwfipan .bold{
	font-size: 24px;
	font-weight: bold;
}